html,body{
    height:100%;
    padding:0;
    margin:0;
}
.contenedor{
    background-color:#0099bb;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.card{
    background-color:white;
    border-radius:10px 10px 0px 0px;
    box-shadow:0px 0px 5px #000;
    max-width:300px;
}
.card img{
    border-radius:10px 10px 0px 0px;
    width:100%;
}
.card h4{
    font-size:7mm;
    text-align:center;
}
.card span{
    text-align:center;
    display:block;
    margin-top:-30px;
    text-transform:uppercase;
}

.card p{
    text-align:justify;
    text-indent:50px;
    padding-left:15px;
    padding-right:15px;
}
.card ul{
    list-style:none;
    padding:0;
}
.card ul li{
    font-size:4mm;
    margin-left:20px;
}
.card ul li i{
    padding-right:10px;
    margin-bottom:5px;
}
